.calculator-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
  align-self: center;
  max-width: 300px;
  background-color: #2a252d;
  border-radius: 16px;
}

.display {
  color: white;
  width: 100%;
  text-align: right;
  font-size: 49px;
  padding: 10px 12px 10px 0;
  margin-bottom: 12px;
  border-radius: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 8px;
}
