.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.history-item { 
    font-size: 18px;
    font-weight: 500;
}