button {
  border: none;
  border-radius: 50%;
  height: 64px;
  font-size: 24px;
  font-weight: bold;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.dark {
    background-color: #505050;
  }

  &.orange {
    background-color: #ff9500;
  }

  &:active {
    filter: brightness(1.2);
  }
}
